head{
    
}
h1{
    text-align: center;

}
body{
    background: url(./../img/s.jpg);

}

h2{
    text-align: justify;
}
video{
    background-color: rgb(54, 52, 52);
    
}
h2{
    text-align: ;
}
a{
    color: rgb(0, 255, 234);
    background-color: rgb(1, 75, 53);
}
audio{

audio controles



}